<h1 class="text-center">Depósito</h1>

<div class="container mt-4">

    <!-- tratamento de erros -->
    <div class="row justify-content-center" *ngIf="erroMensagem">
        <div class="col-md-">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Erro!</strong> {{ erroMensagem }}
                <button type="button" class="btn-close" (click)="erroMensagem = ''" aria-label="Fechar"></button>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">

        <div class="col-md-6">
            <div *ngIf="!erroMensagem && saldo >= 0" class="card text-white bg-success mb-4">
                <div class="card-body">
                    <h5 class="card-title">Seu Saldo:</h5>
                    <p class="card-text">R$ {{ saldo | number: '1.2-2' }}</p>
                    <p class="card-text"><small>Limite: R$ {{ limite | number: '1.2-2' }}</small></p>
                </div>
            </div>

            <div *ngIf="!erroMensagem && saldo < 0" class="card text-white bg-danger mb-4">
                <div class="card-body">
                    <h5 class="card-title">Seu Saldo:</h5>
                    <p class="card-text">R$ {{ saldo | number: '1.2-2' }}</p>
                </div>
            </div>
            <div class="border p-4 rounded-3">
                <form #formDeposit="ngForm">
                    <div class="form-group">
                        <label for="valorDeposito">Valor:</label>

                        <input type="text" class="form-control" id="valorDeposito" name="valorDeposito"
                            [(ngModel)]="valorTransacao" #inputValor="ngModel" placeholder="R$ 0,00" monetario required>

                        <div *ngIf="inputValor.errors && (inputValor.dirty || inputValor.touched)"
                            class="alert alert-danger">
                            <div [hidden]="!inputValor.errors['required']">
                                Digite o valor
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary" (click)="mostrarTelaConfirmacaoTransacao()"
                            [disabled]="!formDeposit.form.valid">
                            <i class="fa fa-save" aria-hidden="true"></i> Depositar

                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>

<!-- tela de confirmacao (visivel quando esta em confirmacao) -->
<app-confirmacao-transacao *ngIf="mostrarConfirmacao" [dados]="dadosConfirmacao" (onConfirmar)="executarTransacao()"
    (onEditar)="voltarParaEdicao()" (onCancelar)="voltarParaEdicao()">
</app-confirmacao-transacao>